
.chart rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.bar:hover {
  fill: brown;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
