.abcd3 {
  font: bold 48px monospace;
}

.enter {
  fill: green;
}

.update {
  fill: #333;
}

.exit {
  fill: brown;
}

.grid-line {
  fill: grey;
  stroke: grey;
  stroke-width: 0.3px;
}

.link {
  fill: none;
  stroke: blue;
}

.node {
  fill: red;
}
